/*body {
  padding-bottom: 70px;
}*/

.grid-item-color-button {
  border: 0px;
  width: 7.69%;
  height: 64px;
  margin: 0px;
  padding: 0px;
}

.grid-item-color {
  border: none;
  width: 3.33%;
  height: 32px;
  margin: 0px;
  padding: 0px;
}

.grid-item-pattern {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 6px;
  white-space: normal;
  cursor: pointer;
}
